<app-navbar></app-navbar>
<div>
  <div class="box">
    <p>
      It gives us immense pleasure to introduce, our company, Veena AV
      Solutions, to you We as in Veena AV Solutions are integrated in the field
      of Audio Video solutions and have an experience for almost two decades.
      With globalization of businesses, it is extremely important to have an
      effective communication medium with in corporations. The role of AV
      Systems, with quality design and integration cannot be undermined. Our
      highly qualified AV integration team will analyze your business needs,
      conceptualize solution design, give a graphical presentation.
    </p>
  </div>
  <div class="box">
    <p>
      Veena AV Solutions is a single-point solution provider in the Audio
      Visuals domain. We undertake turnkey design and consultancy, execution and
      delivery of AV projects with the necessary system integration and project
      management. Veena AV Solutions AV Systems include all the necessary
      components which includes Projection/Display systems, Video Conferencing,
      Audio Conferencing and Control Automation and Management. We have
      strategic partnerships with internationally reputed companies from where
      we source solution components.
    </p>
  </div>
  <div class="box">
    <p>
      We have experience with various user applications like Conference rooms,
      Training rooms, Multipurpose rooms, smart classrooms, board rooms etc. Our
      projects include integration of various data sources, Audio and Video
      inputs/outputs, hardware for the complete project, user-friendly
      single-point control of equipment’s and training of users.
    </p>
  </div>
</div>
