<!-- <div class="topnav">
  <a class="active" routerLink="">Home</a>
  <a routerLink="/service">Services</a>
  <a routerLink="/client">Our Clients</a>
  <a routerLink="/contact">Contact</a>
  <a routerLink="/about">About</a>
</div> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="topnav">
  <a routerLink="" class="active">veenaav.in</a>
  <div id="myLinks">
    <a routerLink="">Home</a>
    <a routerLink="/service">Services</a>
    <a routerLink="/client">Our Clients</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/about">About</a>
  </div>
  <a class="icon" (click)="changeDisplayType()">
    <i class="fa fa-bars"></i>
  </a>
</div>
