<app-navbar></app-navbar>
<div>
  <div class="box">
    <p>
      Digital singnage<br />
      Wireless Presentation<br />
      Video wall display systems<br />
      Video confrencing and cloud based VC <br />
      Interactive projection system<br />
      Voice communication system<br />
      Laptops/Desktop/Server/Storage<br />
      Audio and Video integration<br />
    </p>
  </div>
  <div class="box">
    <p>
      <a>
        <img src="./assets/images/service.png" alt />
      </a>
    </p>
  </div>
</div>
