<app-navbar></app-navbar>
<div>
  <div class="box">
    <p>
      <a>
        <img src="./assets/images/client18.png" alt />
      </a>
    </p>
  </div>

  <div class="box">
    <p>
      <span class="font_cls">FOR AUDIO VISUAL INTEGRATION</span> <br />
      <a>
        <img src="./assets/images/client.png" alt />
      </a>
      <a>
        &nbsp;&nbsp;
        <img src="./assets/images/client2.png" alt /> </a
      ><br />

      <a>
        <img src="./assets/images/client3.png" alt />
      </a>
      <a>
        &nbsp;&nbsp;
        <img src="./assets/images/client4.png" alt /> </a
      ><br />

      <a>
        <img src="./assets/images/client5.png" alt />
      </a>
      <a>
        &nbsp;&nbsp;
        <img src="./assets/images/client6.png" alt /> </a
      ><br />
    </p>
  </div>

  <div class="box">
    <p>
      <span class="font_cls">FOR DISPLAY/ SIGNAGE SOLUTION</span> <br />
      <a>
        <img src="./assets/images/client7.png" alt />
      </a>
      <a>
        &nbsp;&nbsp;
        <img src="./assets/images/client8.png" alt /> </a
      ><br />

      <a>
        <img src="./assets/images/client9.png" alt />
      </a>
      <a>
        &nbsp;&nbsp;
        <img src="./assets/images/client10.png" alt /> </a
      ><br />

      <a>
        <img src="./assets/images/client11.png" alt />
      </a>
    </p>
  </div>

  <div class="box">
    <p>
      <span class="font_cls">FOR UC COLLABORATION/AUDIO SOLUTION</span> <br />
      <a>
        <img src="./assets/images/client12.png" alt />
      </a>
      <a>
        &nbsp;&nbsp;
        <img src="./assets/images/client13.png" alt /> </a
      ><br />

      <a>
        <img src="./assets/images/client14.png" alt />
      </a>
    </p>
  </div>

  <div class="box">
    <p>
      <span class="font_cls">FOR VIDEO CONFERENCING SOLUTION</span> <br />
      <a>
        <img src="./assets/images/client15.png" alt />
      </a>
      <a>
        &nbsp;&nbsp;
        <img src="./assets/images/client16.png" alt /> </a
      ><br />

      <a>
        <img src="./assets/images/client17.png" alt />
      </a>
    </p>
  </div>
</div>
